<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Page</title>
        <style>
             body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            /* Add more styles as needed for a better layout */
        }
        </style>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form action="/user" method="post">
            <label for>Full Name</label>
            <input type="text" required name="name"
                placeholder="Enter Your Full Name">

            <label for>Email</label>
            <input type="text" required name="email"
                placeholder="Enter Your Email" />
            <label for>Password</label>
            <input type="text" required name="password"
                placeholder="Enter Your Password" />
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>